
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  body {
    background:url(../image/bg2.jpg) ;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    
}
.logo {
    width: 160px;
    height: 60px;

}
.vr_line {
    width: 3px;
    height:50px;
  
}
.register {
    background:linear-gradient(to right, #28b086,#058a47);
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 50px;

}

#topmenu{
    text-align: center;
    color:#dad4d4;
    background-color:   transparent;
    font-size: 18px;
    text-decoration:none;
    border: transparent;
    width: fit-content;
    border-radius: 40px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 3px 3px;
    
}
#topmenu:hover{

    color:#63d382;
    text-decoration: none;
    border-width:fit-content ;
    
}
#tmenu{
    margin-left: 200px;
}
.image{
    width: 300px;
    
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 150px;
    float: left;
  }
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
  }
  .saw{
    width: 300px;
    
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 150px;
    margin-bottom: 40px;
    float: right;
  }
.saw img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
  }
.note{
    color: white;
    font-size: 16px;
    float: left;
}
.connote .note{
    width: 600px;
    margin-left: 140px;
    margin-top: 40px;
    margin-bottom: -30px;
    

}

.connote img{
    width: 180px;
    height: 120px;
    margin-left: 80px;
    margin-top: -30px;
    float:left;
}
 .content p{
    float: right;
    color: white;
    font-size: 16px;
    margin-top: -60px;
}
.content img{
    width: 150px;
    height: 100px;
    margin-right: -50px;
    margin-top: -70px;
    float:right;
}
.content{
    width: 600px;
    margin-left: 20px;
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    
}

.hra{
    margin-top: 50px;
   margin-left: -200px;
    width: 800px;
}
#topmenu{
    text-align: center;
    color:#dad4d4;
    background-color:   transparent;
    font-size: 18px;
    text-decoration:none;
    border: transparent;
    width: fit-content;
    border-radius: 40px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 3px 3px;
    
}
#topmenu:hover{

    color:#63d382;
    text-decoration: none;
    border-width:fit-content ;
    
}

    /* responsive */
@media (max-width: 991px){
    .sidebar{
        background-color: rgba(68, 57, 57, 0);
        backdrop-filter:blur(10px);
    }
    .logo{
        margin-top: 0px;
        margin-left: 10px;
    }
    .vr_line{
        display: none;
    }
    .hra{
        display: none;
    }
    .content img{
        justify-content: center;
        justify-items: center;
    }
    

}
