<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footer Design</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="footer.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Navigation</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Our Service</h4>
            <ul>
              <li><a href="#">Breast Cancer Prediction</a></li>
              <li><a href="#">Detection</a></li>
              <li><a href="#">Treatment</a></li>
              <li><a href="#">Councile</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Contact</h4>
            <div class="sec">
              <img src="image/location.png" alt="" />
              <p><span>East Shoa, Adama</span> <br />Ethiopia</p>
            </div>
            <div class="sec">
              <img src="image/phone.png" alt="" />
              <p><span>Call Us</span><br />+251-2222-222</p>
            </div>
            <div class="sec">
              <img src="image/phone.png" alt="" />
              <p><span>Mail Us</span><br />info@gmail.com</p>
            </div>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
